main,.customContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    margin-bottom: 1rem;
}
.customContent{
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.searchInput{
    width: 20rem;
}
.card{
    margin-bottom: 1rem;
    width: 18rem;
    margin-right: 3rem;
}
